@tailwind base;
@tailwind components;
@tailwind utilities;

/* BROWSER STYLES */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(234, 136, 245, 0.5);
  height: 10%;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ffffff;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
}

::selection {
  color: #1d232a;
  background-color: #ffffff;
}

html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}

/* COMMON STYLES */
.wrapper {
  @apply container mx-auto px-5 md:px-0;
}

.section-padding {
  @apply py-10 md:py-20;
}

/* SWIPER STYLES */
.swiper-button-next,
.swiper-button-prev {
  color: #ee87fb !important;
  fill: #ee87fb !important;
  stroke: #ee87fb !important;
}

.swiper-pagination-bullet {
  background-color: #ee87fb !important;
}

.swiper-pagination-bullet-active {
  background-color: #ee87fb !important;
}
